@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-primary: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-text: var(--color-primary);
}

body {
    color: var(--color-text);
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.grid {
    display: grid;
}